.img-wrap {
  width: 144px;
  height: 144px;
  overflow: hidden;
  img{
    display: flex;
    object-fit: cover;
  }
}
.copyright-area{
  background-color: #01549d;
  p{
    color: white;
  }
}
.widget-area .item:hover .info .title a{
  color: #01549d;
}