@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
html, body, a, p, span, h1, h2,h3,h4,h5,h6{
  font-family: 'Roboto', sans-serif!important;
}
.img-wrap {
  width: 144px;
  height: 144px;
  overflow: hidden;
  img{
    display: flex;
    object-fit: cover;
  }
}
.copyright-area{
  background-color: #01549d;
  p{
    color: white;
  }
}
.widget .item:hover .info .title a{
  color: #01549d;
}